body {
    background-color: black;
    color: blue;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.clock {
    font-size: 3em;
    letter-spacing: 5px;
    height: 60px;
    width: 350px;
    text-transform: uppercase;
}